docker/insightface_models/buffalo_s.zip
backend/faceguard/data/*.npy
**/.streamlit/secrets.toml
backend/secrets.toml
secrets.toml
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/
env/
.insightface/
.vscode/
.idea/
*.swp
*.swo
docker/insightface_models/

docker/insightface_models/buffalo_s/
.env
backend/.env
insightface_models/
.coverage
coverage.xml
coverage.json
htmlcov/
site/
