numpy
pandas
psycopg2-binary
opencv-python
onnxruntime
pytest
gpiozero
lgpio==0.2.2.0
RPi.GPIO
insightface
fastapi
uvicorn[standard]
python-multipart
websockets
tomli
bcrypt
python-dotenv
PyJWT
slowapi
