# Database Credentials
DB_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=faceguard

# Admin Panel Credentials
ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH=$2b$12$Npx2/6R5X9xQpI4wB... (replace with your bcrypt hash)
