admin_login = "<YOUR_ADMIN_LOGIN>"
# Generate this hash by running: python backend/scripts/generate_hash.py
admin_password_hash = "<YOUR_ADMIN_PASSWORD_BCRYPT_HASH>"

host = "<YOUR_DB_HOST>"
database = "<YOUR_DB_NAME>"
user = "<YOUR_DB_USER>"
password = "<YOUR_DB_PASSWORD>"
port = 5432