admin_password = "your_admin_password"
admin_login = "your_admin_login"

host = "ep-falling-tree-ahxevp5u.c-3.us-east-1.aws.neon.tech"
database = "neondb"
user = "neondb_owner"
password = "npg_9Acyo4OkzFvE"
port = 5432
